NodeRED.json
[
    {
        "id": "d9d2d71b4206e377",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b392c487ce7d94a7",
        "type": "debug",
        "z": "d9d2d71b4206e377",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "d3335f1e1d74c41c",
        "type": "aedes broker",
        "z": "d9d2d71b4206e377",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 390,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "65275a9ecc1be235",
        "type": "mqtt in",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/accelerometerX",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64ce07a9bb65dd84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "b392c487ce7d94a7"
            ]
        ]
    },
    {
        "id": "f55f831473c8ad52",
        "type": "mqtt in",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/accelerometerY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64ce07a9bb65dd84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "b392c487ce7d94a7"
            ]
        ]
    },
    {
        "id": "9a9f5858dff9f1b2",
        "type": "mqtt in",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/accelerometerZ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64ce07a9bb65dd84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "b392c487ce7d94a7"
            ]
        ]
    },
    {
        "id": "5f497606f3dc179b",
        "type": "mqtt in",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/noise",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64ce07a9bb65dd84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "b392c487ce7d94a7"
            ]
        ]
    },
    {
        "id": "3554aa8bd955decd",
        "type": "mqtt in",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/positionLatitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64ce07a9bb65dd84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 720,
        "wires": [
            [
                "b392c487ce7d94a7"
            ]
        ]
    },
    {
        "id": "5e4d95e17140b840",
        "type": "mqtt in",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/positionLongitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64ce07a9bb65dd84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 780,
        "wires": [
            [
                "b392c487ce7d94a7"
            ]
        ]
    },
    {
        "id": "239e17654ae2d85b",
        "type": "mqtt out",
        "z": "d9d2d71b4206e377",
        "name": "",
        "topic": "/tm/noise",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f37a752243907b9",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "4449d5aca3df6736",
        "type": "inject",
        "z": "d9d2d71b4206e377",
        "name": "attempt 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "bb4a9ec7755dc912"
            ]
        ]
    },
    {
        "id": "09bfacea924ee22d",
        "type": "REST Thing",
        "z": "d9d2d71b4206e377",
        "name": "Prova1",
        "url": "http://212.78.1.205:8080",
        "thingname": "Attempt1",
        "credentials": {},
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "c808ae7606286881",
        "type": "debug",
        "z": "d9d2d71b4206e377",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 220,
        "wires": []
    },
    {
        "id": "bb4a9ec7755dc912",
        "type": "function",
        "z": "d9d2d71b4206e377",
        "name": "function 1",
        "func": "var tempF = Math.random() * 40 + 60;\n\nvar tempC = (tempF - 32) / 1.8;\n\nvar humidity = Math.random() * 80 + 20;\n\nmsg.payload = {\n    \"accelerometerX\": tempF,\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "09bfacea924ee22d",
                "c808ae7606286881"
            ]
        ]
    },
    {
        "id": "64ce07a9bb65dd84",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f37a752243907b9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://212.78.1.205",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "/tm/noise",
        "birthQos": "0",
        "birthPayload": "22",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]